.logo {
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  width: 76px;
  height: 20px;
  text-decoration: none;
  align-items: center;
}

.humbourger {
  height: 12px;
  width: 18px;
  left: 3px;
  top: 6px;
  color: rgba(96, 112, 255, 1);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-image: url("media/header-image.png");
  background-color: rebeccapurple;
  width: 100%;
  height: 48px;
}

.menu {
  display: none !important;
}

.header-ambony {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  background-image: url(media/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  top: 2.875rem;
  border-bottom-left-radius: 60px;
  height: 44.88rem;
}

.narson {
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  align-items: center;
  width: 327px;
  height: 9.37rem;
  margin: 20px;
  color: #091e42;
  font-style: bold;
  order: 0;
}

.detail {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
  margin: 0 20px;
  width: 327px;
  height: 146px;
  order: 1;
}

.connection {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 70px;
  margin-left: 20px;
  order: 2;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
  overflow-x: hidden;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: none;
  flex-grow: 0;
  list-style: none;
  width: 10.636rem;
  margin-left: -25px;
  margin-top: 1px;
  gap: 8px;
  order: 3;
}

.twitter {
  color: rgba(80, 95, 121, 1);
  height: 19.962478637695312px;
  width: 19.985925674438477px;
  opacity: 0.5;
  left: 260px;
  top: 642px;
}

.linkindin {
  color: rgba(80, 95, 121, 1);
  height: 20.000062942504883px;
  width: 20.00014877319336px;
  left: 299px;
  top: 642px;
  border-radius: 10px;
  opacity: 0.5;
}

.github {
  color: rgba(80, 95, 121, 1);
  height: 20px;
  width: 17.985200881958008px;
  left: 379px;
  top: 642px;
  opacity: 0.5;
}

.medium {
  height: 16px;
  width: 20px;
  left: 339px;
  top: 644px;
  opacity: 0.5;
}

.angellist {
  color: rgba(80, 95, 121, 1);
  height: 20px;
  width: 14.166671752929688px;
  left: 416px;
  top: 642px;
  border-radius: 10px;
  opacity: 0.5;
}

.twitter:hover,
.linkedin:hover,
.github:hover,
.medium:hover,
.angel:hover {
  color: #505f79;
  opacity: 0.5;
}
